@using ecomFront.Models.SearchViewModels
@using ecomFront.Common

@{
    ViewData["Title"] = "Nueva Búsqueda Por Categoria";
    ViewData["MenuOption"] = "NewSearch";
    Layout = "_Layout";
}

@model SearchByCategoryViewModel
<!-- Page header -->
<div class="page-header page-header-light sticky-top">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex breadcrumb pt-0">
            <h4>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a asp-area="" asp-controller="Search" asp-action="HomeAddSearch" class="breadcrumb-item"> Nueva Búsqueda</a>
                <span class="breadcrumb-item active">Por categoría</span>
            </h4>
        </div>

        <div class="header-elements d-none">
            <div class="d-flex justify-content-center border-left ">
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <h2 class="p-0 m-0 font-weight-normal" id="CantCategorias">0</h2>
                    <span class="font-weight-normal">CATEGORÍAS</span>
                </a>
            </div>
            <div class="d-flex justify-content-center border-left ">
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <h2 class="p-0 m-0 font-weight-normal" id="CantPublicaciones">0</h2>
                    <span class="font-weight-normal">PUBLICACIONES</span>
                </a>
            </div>
            <div class="d-flex justify-content-center border-left @*bg-success-100*@">
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body" id="SaveButton">
                    <i class="mi-save mi-2x text-success p-0"></i>
                    <span class="font-weight-bold text-success">GUARDAR</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->

<div class="content">
    <div class="row">
        <div id="infoBusqueda" class="col-lg-8 col-sm-12">
            <div class="card">
                <div class="card-header  bg-info-100 header-elements-inline">
                    <div class="card-title font-weight-semibold"> 1. Selección de Categoría <div class="card-title font-weight-light ">Navegá hasta la categoría de interés.</div></div>
                </div>
                <div class="card-header bg-transparent" id="CategoryPath">

                </div>
                <div class="card-body">
                    <ul class="media-list media-list-linked overflow-auto border-top" style="max-height:500px" id="MainList">
                    </ul>
                </div>
            </div>
        </div>
        <div id="infoResumen" class="col-lg-4 col-sm-12">
            <div class="card">
                <div class="sidebar-section">
                    <div class="card-header bg-info-100">
                        <span class="card-title font-weight-semibold">1. Información de la búsqueda</span>
                    </div>
                    <div class="sidebar-section-body">
                        <form action="#" id="formBusqueda">
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="searchName">Nombre:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control form-control-sm" placeholder="Ingresá el nombre" id="searchName" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Descripción:</label>
                                <div class="col-lg-8">
                                    <textarea rows="1" class="form-control form-control-sm" placeholder="Ingresá la descripción de la búsqueda" id="searchDescription"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-header bg-success-100">
                        <span class="card-title font-weight-semibold">Resúmen De Categorías </span>
                        @*<span class="badge badge-info badge-pill float-right">15</span>*@
                    </div>
                    <div class="sidebar-section-body">
                        <ul class="media-list" id="resumenCategoria">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_AgregarAtributos" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Agregá los atributos opcionales</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">
                <div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
                    Puede refinar su búsqueda agregando los atributos y los valores correspondientes!
                    <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
                <div class="container-fluid w-100">
                    <div id="atributesValues">
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Gender:</label>
                            <div class="col-lg-8">
                                <div class="form-check-horizontal">
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="gender" checked="">
                                        <span class="custom-control-label">Male</span>
                                    </label>

                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="gender">
                                        <span class="custom-control-label">Female</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hiddenCategory" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="ConfirmChanges">Aceptar</button>
            </div>
        </div>
    </div>
</div>



<div id="modal_ConfirmacionBusqueda" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Confirmá la selección de criterios</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">
                <div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
                    <span class="font-weight-semibold">Atención! </span> Estos son los criterios de búsqueda que seleccionaste para realizar tu análisis.
                    <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
                <div class="w-100 alert-success text-center mt-2 p-1"><h5 class="m-0">Información de la Búsqueda</h5></div>
                <div class="container-fluid w-100">
                    <table class="text-center w-100">
                        <tbody>
                            <tr>
                                <td class="text-right w-50 pr-1"> Nombre</td>
                                <td class="text-left w-50 pl-1 font-weight-semibold" id="confirmName"></td>
                            </tr>
                            <tr>
                                <td class="text-right w-50 pr-1"> Descripción</td>
                                <td class="text-left w-50 pl-1 font-weight-semibold" id="confirmDescription"></td>
                            </tr>
                            <tr>
                                <td class="text-right w-50 pr-1"> Condición</td>
                                <td class="text-left w-50 pl-1 font-weight-semibold">
                                    <span id="confirmConditionNew" class="badge badge-success">NUEVO</span>
                                    <span id="confirmConditionUsed" class="badge badge-primary">USADO</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right w-50 pr-1"> Publicaciones para Analizar</td>
                                <td class="text-left w-50 pl-1 font-weight-semibold" id="confirmCantPublicaciones"></td>
                            </tr>
                            <tr>
                                <td class="text-right w-50 pr-1"> Categorias Seleccionadas</td>
                                <td class="text-left w-50 pl-1 font-weight-semibold" id="confirmCantidadCategorias"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="divDetalleCategoria">

                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link " data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="ConfirmGeneral">Guardar Búsqueda</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        var path_from_root = '';
        var attributes = [];
        var categorySelectedList = [];
        var selectedCategory = '';
        var selectedCategoryName = '';
        var cantPublicaciones = 0;
        var NewSearchModel = {};
        var excludedAttributes = ['state',
            'accepts_mercadopago',
            'installments',
            'power_seller',
            'has_video',
            'has_pictures',
            'ITEM_CONDITION',
            'category',
            'official_store',
            'discount',
            'state',
            'shipping',
            'since',
            'all_payment_methods_discount',
            'price_campaign_id',
            'shipping_cost',
            'until'];

        document.addEventListener('DOMContentLoaded', function () {
            $('#sidebar-toggle').click();
            $("#SaveButton").addClass('disabled');
            fillMainList();
        });

        function fillMainList() {
            var url = 'https://api.mercadolibre.com/sites/MLA/categories';
            $.getJSON(url, function (json_data, textStatus, jqXHR) {
                $('#MainList').empty();
                $('#CategoryPath').empty();
                var cList = $('#MainList');
                if (jqXHR.status == 200) {
                    $.each(json_data, function (key, value) {
                        var li = $('<li/>',
                            {
                                class: 'border-bottom',
                                id: 'li_' + value.id
                            })
                            .appendTo(cList);

                        var divMain = $('<div />',
                            {
                                class: 'media'
                            })
                            .appendTo(li);

                        var divTitulo = $('<div/>',
                            {
                                class: 'media-body'
                            })
                            .appendTo(divMain);

                        var h4 = $('<h4/>',
                            {
                                class: 'font-weight-light mb-0',
                                text: value.name
                            })
                            .appendTo(divTitulo);


                        var badge = $('<i/>',
                            {
                                class: 'mi-info-outline ml-1 text-secondary-100 cursor-pointer ',
                                text: value.total_items_in_this_category,
                                title: '',
                                'data-popup': 'tooltip',
                                'data-placement': 'right',
                                'data-original-title': 'Esta categoría no es seleccionable, por favor detalle mas su búsqueda'
                            })
                            .appendTo(h4)
                            .tooltip();

                        var spanIcon = $('<span />',
                            {
                                class: "text-muted"
                            })
                            .appendTo(divMain);

                        var btnVerMas = $('<button />',
                            {
                                type: 'button',
                                class: 'btn btn-outline-secondary btn-sm btnVerMas',
                                text: 'Ver Más',
                                'data-id': value.id
                            })
                            .appendTo(spanIcon);

                    });
                }
                else {
                    $.jGrowl('Error en la llamada: ' + url, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 });
                }

            })
                .fail(function () { $.jGrowl('Error en la llamada: ' + url, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 }); });
        }

        $(document).on('click', '.btnVerMas', function () {
            var categoryId = $(this).attr('data-id');
            var cList = $('#MainList');
            var hasChildren = false;
            var url = 'https://api.mercadolibre.com/categories/' + categoryId;
            $.getJSON(url, function (json_data, textStatus, jqXHR) {
                if (jqXHR.status == 200) {
                    if (json_data.children_categories.length > 0) {
                        cList.empty();
                        if (jqXHR.status == 200) {
                            buildPath(json_data);
                            $.each(json_data.children_categories, function (key, value) {
                                $.getJSON('https://api.mercadolibre.com/categories/' + value.id, function (dataCategory, textStatus, jqXHR) {
                                    if (dataCategory.children_categories.length > 0) {
                                        hasChildren = true;
                                    }
                                    else {
                                        hasChildren = false;
                                    }
                                })
                                    .always(function () {
                                        var li = $('<li/>',
                                            {
                                                class: 'border-bottom',
                                                id: 'li_' + value.id
                                            })
                                            .appendTo(cList);

                                        var divMain = $('<div />',
                                            {
                                                class: 'media'
                                            })
                                            .appendTo(li);

                                        var divTitulo = $('<div/>',
                                            {
                                                class: 'media-body'
                                            })
                                            .appendTo(divMain);

                                        var h4 = $('<h4/>',
                                            {
                                                class: 'font-weight-light mb-0',
                                                text: value.name
                                            })
                                            .appendTo(divTitulo);

                                        var badge = $('<span/>',
                                            {
                                                class: 'badge badge-light badge-pill align-self-center ml-3',
                                                text: value.total_items_in_this_category,
                                                title: '',
                                                'data-popup': 'tooltip',
                                                'data-placement': 'right',
                                                'data-original-title': 'Cantidad de items en categoría'
                                            })
                                            .appendTo(h4)
                                            .tooltip();

                                        var spanIcon = $('<span />',
                                            {
                                                class: "text-muted"
                                            })
                                            .appendTo(divMain);

                                        if (hasChildren) {
                                            var btnVerMas = $('<button />',
                                                {
                                                    type: 'button',
                                                    class: 'btn btn-outline-secondary btn-sm btnVerMas',
                                                    text: 'Ver Más',
                                                    'data-id': value.id
                                                })
                                                .appendTo(spanIcon);
                                        }

                                        var btnAgregar = $('<button />',
                                            {
                                                type: 'button',
                                                class: 'btn btn-outline-success btn-sm ml-2 btnAgregar',
                                                text: 'Agregar',
                                                'data-id': value.id,
                                                'data-category-name': value.name
                                            })
                                            .appendTo(spanIcon);
                                    });
                            });
                        }
                    }
                }
                else {
                    $.jGrowl('Error en la llamada: ' + url, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 });
                }
            })
                .fail(function () { $.jGrowl('Error en la llamada: ' + url, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 }); });
        });

        function buildPath(json_data) {
            var CategoryPath = $('#CategoryPath');
            CategoryPath.empty();
            var href = $('<a />',
                {
                    href: 'javascript:;',
                    text: 'Inicio',
                    onclick: 'fillMainList();'
                })
                .appendTo(CategoryPath);

            var i = $('<a />', { class: 'fas fa-chevron-right mr-1 ml-1 text-black-50' }).appendTo(CategoryPath);

            $.each(json_data.path_from_root, function (key, value) {
                if (value.id == json_data.id) {
                    var hrefThis = $('<span />',
                        {
                            text: value.name
                        })
                        .appendTo(CategoryPath);
                }
                else {
                    var href = $('<a />',
                        {
                            href: 'javascript:;',
                            class: 'btnVerMas',
                            'data-id': value.id,
                            text: value.name
                        })
                        .appendTo(CategoryPath);
                    var i = $('<a />', { class: 'fas fa-chevron-right mr-1 ml-1 text-black-50' }).appendTo(CategoryPath);
                }
            });
        }


        $(document).on('click', '.btnAgregar', function () {
            $('#atributesValues').empty();
            attributes = [];
            selectedCategory = $(this).attr('data-id');
            selectedCategoryName = $(this).attr('data-category-name');

            var url = 'https://api.mercadolibre.com/sites/MLA/search?category=' + selectedCategory;
            $.getJSON(url, function (json_data, textStatus, jqXHR) {
                if (jqXHR.status == 200) {
                    json_data.available_filters.filter(item => !excludedAttributes.includes(item.id)).forEach(function (value, index, array) {
                        attributes.push(value);
                        if (value.id != null && value.name != null) {
                            var divFormGroup = $('<div />',
                                {
                                    class: "form-group row border-top mb-1",
                                    'data-id': value.id
                                })
                                .appendTo($('#atributesValues'));

                            var labelCheckBox = $('<label />', { class: "col-lg-1 custom-control custom-control-success custom-checkbox col-form-label" }).appendTo(divFormGroup);

                            var inputAtributo = $('<input />',
                                {
                                    id: 'input_' + value.id,
                                    name: 'attributesValue',
                                    class: "custom-control-input inputAtributo",
                                    type: "checkbox",
                                    'data-name': value.name,
                                    'data-value-type': value.type,
                                    'data-id': value.id
                                })
                                .appendTo(labelCheckBox);

                            var spanAtributo = $('<span />', { class: "custom-control-label p-0" }).appendTo(labelCheckBox);

                            var labelNombreAtributo = $('<label />',
                                {
                                    class: "col-lg-6 col-form-label",
                                    text: value.name
                                })
                                .appendTo(divFormGroup);

                            var divFormValue = $('<div />',
                                {
                                    class: "col-lg-5"
                                })
                                .appendTo(divFormGroup);

                            var divFormValue2 = $('<div />',
                                {
                                    class: "form-check-horizontal",
                                    id: 'div_' + value.id
                                })
                                .appendTo(divFormValue);

                            var selectNombreAtributo = $('<select />',
                                {
                                    name: 'select_' + value.id,
                                    id: 'select_' + value.id,
                                    class: "form-control form-control-sm",
                                    "data-id": value.id,
                                    "data-name": value.name
                                })
                                .appendTo(divFormValue2);

                            value.values.forEach(function (data, index, array) {

                                var option = $('<option />',
                                    {
                                        name: 'option_' + data.id,
                                        id: 'option_' + data.id,
                                        value: data.id,
                                        "data-qtty": data.results,
                                        "data-name": data.name,
                                        class: "custom-control-input",
                                        text: data.name + ' (' + data.results + ')'
                                    })
                                    .appendTo(selectNombreAtributo);
                            });

                            selectNombreAtributo.attr('disabled', 'disabled');
                        }
                    });
                } else {
                    $.jGrowl('Error en la llamada: ' + url, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 });
                }
            })
                .fail(function () { $.jGrowl('Error en la llamada: ' + url, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 }); });
            $('#modal_AgregarAtributos').modal('toggle');
        });

        $(document).on('click', '.inputAtributo', function () {
            var id = $(this).attr('data-id');
            if (this.checked) {
                $('#select_' + id).removeAttr('disabled');
            } else {
                $('#select_' + id).attr('disabled', 'disabled');
            }
        });


        $(document).on('click', '#ConfirmChanges', function () {
            var selected = [];
            $("input[name='attributesValue']:checked").each(function () {
                var attributeValue = {};
                var value_id = $(this).attr('data-id');
                attributeValue.value_id = value_id;
                attributeValue.value = $("#select_" + value_id + " option:selected").val();
                attributeValue.value_name = $("#select_" + value_id + " option:selected").attr('data-name');
                attributeValue.quantity = $("#select_" + value_id + " option:selected").attr('data-qtty');
                attributeValue.name = $(this).attr('data-name');

                selected.push(attributeValue);
            });
            categorySelectedList.push({ categoryId: selectedCategory, categoryName: selectedCategoryName, attributes: selected });
            UpdateCategoryList();
            $.jGrowl('La categoría fue agregada con exito!', { theme: 'bg-success text-white', header: 'Excelente!', position: 'bottom-right', life: 2000 });

            $('#modal_AgregarAtributos').modal('toggle');

        });


        function UpdateCategoryList() {
            $('#resumenCategoria').empty();
            cantPublicaciones = 0;

            $('#CantCategorias').text(categorySelectedList.length);
            $('#CantPublicaciones').text(0);

            categorySelectedList.forEach(function (data, index, array) {
                var attributesList = '';

                var li = $('<li />', { class: "media", }).appendTo($('#resumenCategoria'));
                var mediaBody = $('<div />', { class: "media-body", }).appendTo(li);
                var divMediaBody = $('<div />',
                    {
                        class: "font-weight-semibold",
                        text: data.categoryName
                    }).appendTo(mediaBody);

                $('<span />',
                    {
                        class: "badge badge-light badge-pill align-self-center ml-1",
                        id: 'spanCategory_' + data.categoryId,
                        text: 0
                    }).appendTo(divMediaBody);


                data.attributes.forEach(function (data, index, array) {
                    attributesList += '&' + data.value_id + '=' + data.value;
                    $('<span />',
                        {
                            class: "font-size-sm text-muted",
                            text: data.name + ': ' + data.value_name
                        }).appendTo(mediaBody);
                    $('<a />',
                        {
                            class: "mi mi-remove mr-1 ml-1 "
                        }).appendTo(mediaBody);
                });

                var divRemove = $('<div />',
                    {
                        class: "ml-3 align-self-center "
                    }).appendTo(li);

                var aRemove = $('<a />',
                    {
                        class: "list-icons-item text-danger removeCategory cursor-pointer",
                        id: 'remove_' + data.categoryId,
                        "data-category-id": data.categoryId
                    }).appendTo(divRemove);

                var aRemove = $('<i />', { class: "icon-trash", }).appendTo(aRemove);

                var url = 'https://api.mercadolibre.com/sites/MLA/search?category=' + data.categoryId + attributesList;
                $.getJSON(url, function (json_data) {
                    cantPublicaciones = cantPublicaciones + json_data.paging.total;
                    $('#CantPublicaciones').text(cantPublicaciones);
                    $("#spanCategory_" + data.categoryId).text(json_data.paging.total);
                })
                    .fail(function () { $.jGrowl('Error en la llamada: ' + url, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 }); });
            });

            validarSaveButton();
        }

        $(document).on('click', '.removeCategory', function () {
            var categoryId = $(this).attr('data-category-id');
            categorySelectedList.splice(categorySelectedList.findIndex(x => x.categoryId == categoryId), 1);
            UpdateCategoryList();
        });

        $(document).ready(function () {
            $("#searchName").on("change paste keyup", function () {
                validarSaveButton();
            });
        });

        function validarSaveButton() {
            if ($('#searchName').val() != '' && categorySelectedList.length > 0) {
                $("#SaveButton").removeClass('disabled');
            }
            else {
                $("#SaveButton").addClass('disabled');
            }
        }

        $('#SaveButton').click(function (e) {
            NewSearchModel.Nombre = $('#searchName').val();
            NewSearchModel.Descripcion = $('#searchDescription').val();
            NewSearchModel.CategoryList = categorySelectedList;
            NewSearchModel.CantidadPublicaciones = parseInt($('#CantPublicaciones').text());
            modalImprimir(NewSearchModel);
        });

        function modalImprimir(NewSearchModel) {
            $("#confirmConditionNew").hide();
            $("#confirmConditionUsed").hide();

            $('#confirmName').text(NewSearchModel.Nombre);
            $('#confirmDescription').text(NewSearchModel.Descripcion);

            $("#confirmConditionNew").show();

            $('#confirmCantPublicaciones').text(NewSearchModel.CantidadPublicaciones);
            $('#confirmCantidadCategorias').text(NewSearchModel.CategoryList.length);

            if (NewSearchModel.CategoryList.length > 0) {
                $("#divDetalleCategoria").show();
                $("#divDetalleCategoria").empty();
                $.each(NewSearchModel.CategoryList, function (key, value) {
                    var detalleFondo = $('<div />',
                        {
                            class: "w-100 alert-secondary text-center mt-2 p-1"
                        }).appendTo($("#divDetalleCategoria"));

                    $('<h6 />',
                        {
                            class: "m-0",
                            text: value.categoryName
                        }).appendTo(detalleFondo);

                    var detalleAtributos = $('<div />',
                        {
                            class: "container-fluid w-100"
                        }).appendTo($("#divDetalleCategoria"));

                    var table = $('<table />',
                        {
                            id:"confirmDetalleCategoria",
                            class: "text-center w-100"
                        }).appendTo(detalleAtributos);

                    var tbody = $('<tbody />',
                        {
                            class: "text-center w-100"
                        }).appendTo(table);


                    $.each(value.attributes, function (key, attribute) {

                        var tr = $('<tr />',
                            {
                                class: "text-center w-100"
                            }).appendTo(tbody);

                        var td1 = $('<td />',
                            {
                                class: "text-right w-50 pr-1",
                                text: attribute.name
                            }).appendTo(tr);

                        var td2 = $('<td />',
                            {
                                class: "text-left w-50 pl-1 font-weight-semibold",
                                text: attribute.value_name
                            }).appendTo(tr);
                    });
                });
            } else {
                $("#divDetalleCategoria").hide();
            }

            $('#modal_ConfirmacionBusqueda').modal('toggle');
        }


        $('#ConfirmGeneral').click(function (e) {
             $.ajax({
                type: "POST",
                 data: JSON.stringify(NewSearchModel),
                url: "/Search/SaveNewSearchByCategory",
                contentType: "application/json"
            }).done(function (res) {
                if (res.result == "OK") {
                    $.jGrowl(res.successMessage, { theme: 'bg-success text-white', header: 'Excelente!', position: 'bottom-right', life: 2000 });

                    var url = '@Url.Action("Searches", "Search")';
                     window.location.href = url

                    //$.ajax({
                    //    cache: false,
                    //    type: "GET",
                    //    url: "/Search/Searches",
                    //    dataType: "html"
                    //});

                } else {
                    $.jGrowl(res.errorMessage, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 });
                }
            });
        });


    </script>
}
