@page
@model ForgotPasswordConfirmation
@{
    Layout = "./Manage/_Layout.cshtml";
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="content d-flex justify-content-center align-items-center">

        <div class="card mb-0">
            <div class="card-body">
                <div class="text-center mb-3">
                    <embed src="../../../../global_assets/images/logo_color_full_sin_texto.svg" class="mb-3 mt-1" style="height: 80px;">                    <h5 class="mb-0">Verifique su mail para resetear su contraseña</h5>
                </div>
            </div>
        </div>

</div>
